.tx-container {
  // background: #eff0f4;
  background: var(--ion-color-light);
  --background: var(--ion-color-light);

  ion-searchbar {
    background: var(--ion-color-dark);
    --background: var(--ion-color-dark);
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: -30px;
  }
  ion-list[scrollx="true"],
  ion-list[scrolly="true"] {
    position: relative;
    overflow: hidden;
  }

  ion-list[scrollx="true"] {
    overflow-x: auto;
  }

  ion-list[scrolly="true"] {
    overflow-y: auto;
  }

  ion-list {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-top: 2vh;
    background: var(--ion-color-light);
    max-height: 500px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4vh;

      h2 {
        font-size: 1.8em;
        font-weight: 800;
      }

      ion-button {
        ion-icon {
          font-size: 2.5em;
          margin-top: 12px;
        }
      }
    }

    ion-list-header {
      font-weight: 800;
      font-size: 1.8em;
      letter-spacing: 0.5px;
      width: 90%;
      margin-bottom: 6vh;

      ion-button {
        float: right;
      }
    }

    .list-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-button {
        font-weight: bolder;
      }

      ion-fab {
        ion-fab-button {
          --box-shadow: none;
          --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          ion-icon {
            border-radius: 10px;
          }
        }
      }
    }

    ion-item {
      // width: 100%;
      color: #2a2b2c;
      --background: transparent;
      border-bottom: 1px solid var(--ion-color-tblight);
      // border: 1px solid var(--ion-color-medium);
      // border: 1px solid #EFF0F4;
      // border-radius: 10px;
      --detail-icon-color: var(--ion-color-dark);
      margin: 0px 10px 0px 10px;

      img {
        width: 65px;
        height: auto;
        border-radius: 15px;
        margin-right: 15px;
      }

      ion-label {
        h2 {
          font-weight: bold;
        }

        h3 {
          font-size: 1.1em;
          font-weight: 500;
          color: var(--ion-color-dark);

          span {
            font-size: 0.8em;
          }

          ion-badge {
            margin: 5px 0 0 0;
          }
        }
        p {
          font-weight: 600;
          opacity: 0.6;

          b {
            font-weight: 800;
            font-size: 1.1em;
          }
        }

        .pay-date {
          color: var(--ion-color-primary);
          padding-top: 10px;
        }
      }
    }
  }

  .no-data {
    h2 {
      font-weight: 800;
      margin-bottom: 8vh;
    }
    img {
      width: 30vw;
      height: auto;
      margin-bottom: 8vh;
    }
  }
}
