.pop-container {
  color: #1c1638;
  background-color: #ffffff;

  .pmt-dtls {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 4vw;

    p {
      font-size: 0.9em;
      margin: 0;
      text-align: left;
      padding-bottom: 10px;
      margin-top: 10px;
      font-weight: 700;
      color: #2a2b2c;
      opacity: 0.9;
    }

    .btm-border {
      border-bottom: 2px solid #eff0f4;
    }

    .fld-name {
      color: #9aacbc;
    }

    h6 {
      font-weight: bolder;
    }
  }
  .header-div {
    margin: 0;
    padding: 0;

    h4 {
      font-weight: 800;
      // letter-spacing: 0.5px;
      font-size: 1.5em;
    }

    p {
      font-size: 1.1em;
      color: #9aacbc;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin: 0;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  ion-icon {
    color: #9aacbc;
  }
  h2 {
    font-weight: 800;
    width: 100%;
    font-size: 2em;
  }

  ion-label {
    margin: 0;
    padding: 0;
    p {
      font-weight: 800;
      color: #696a6b;
      opacity: 0.5;
      margin: 0;
    }
    ion-title {
      font-weight: 800;
    }
  }

  .footer-div {
    margin-top: 4vh;
  }
}
