* {
  font-family: "Mulish", sans-serif;
}

ion-header {
  --background: var(--ion-color-light);
  background: var(--ion-color-light);
  color: var(--ion-color-dark);

  .cncl-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      font-size: 1.5rem;
      // color: #FFF;
    }

    ion-button {
      font-size: 1.2em;
      font-weight: 600;
      text-transform: capitalize;
      --color: #00bfa6;
    }
  }

  P {
    color: #9aacbc;
  }
}

h2 {
  letter-spacing: 0.3px;
}

.srch {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 8vh;

  width: 100%;
  background: var(--ion-color-light);

  .custom-search {
    margin-top: -30px;

    background: var(--ion-color-tblight);
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // margin-left: 20px;
    .searchbar-input-container {
      input {
        background: var(--ion-color-light);
        --background: var(--ion-color-light);
      }
    }
  }
}

ion-thumbnail {
  width: 50px;
  height: 50px;
  --border-radius: 15px;
  margin-right: 0.6rem;
}

ion-icon.red {
  color: red;
}

h5 {
  font-weight: 800;
}
ion-content {
  --background: var(--ion-color-light);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  ion-list {
    --background: var(--ion-color-light);
    background: var(--ion-color-light);

    ion-item {
      //
      --background: #eff0f4;

      border-radius: 15px;
      margin-bottom: 8px;
      --inner-padding-top: 15px;
      --inner-padding-bottom: 15px;

      ion-icon {
        font-size: 1.5em;
        padding: 12px;
        border-radius: 25%;
        color: #eff0f4;
        background: #00bfa6;
        margin: 0;
        margin-right: 10px;
      }

      ion-label {
        h2 {
          color: #2a2b2c;
        }

        P {
          color: #2a2b2c;
          opacity: 0.5;
        }
      }
    }
  }
}
