.crd {
  app-min-card {
    margin-top: 2vh;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 6vh;
  }

  p {
    font-size: 0.9em;
    opacity: 0.5;
    margin-bottom: 6vh;
  }
}
