<ion-header>
  <ion-toolbar>
    <ion-title>payment-methods</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-list>
    <ion-item>
      <ion-card class="card-ok">
        <ion-card-header>
          <ion-card-title>VISA</ion-card-title>
          <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="pay-content">
            <p>My VISA Card</p>
            <ion-icon slot="end" name="create-outline"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card-ok">
        <ion-card-header>
          <ion-card-title>VISA</ion-card-title>
          <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="pay-content">
            <p>My VISA Card</p>
            <ion-icon slot="end" name="create-outline"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card-warn">
        <ion-card-header>
          <ion-card-title>VISA</ion-card-title>
          <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="pay-content">
            <p>My VISA Card</p>
            <ion-icon slot="end" name="create-outline"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  
  
</ion-content>