<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="regForm" class="top-margin">
    <ion-grid class="form-grid">
      <ion-row>
        <ion-col>
          <p>Sign in</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="form-group" [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input
              class="form-control"
              formControlName="email"
              type="text"
              placeholder="email"
              
            >
          </ion-input>
          
          </div>
          <span
          class="invalid"
          *ngIf="regForm.get('email').touched && regForm.get('email').invalid"
          >Enter a valid email</span
        >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-group" [ngClass]="{'invalid': regForm.get('password').touched && regForm.get('password').invalid}">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input
              class="form-control"
              formControlName="password"
              type="password"
              placeholder="Password"
              
            >
          </ion-input>
          
          </div>
          <span
          class="invalid"
          *ngIf="regForm.get('password').touched && regForm.get('password').invalid"
          >Enter a valid password</span
        >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink="/profile">Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center small-font">
      <a href="#" routerLink="/signin">sign up</a>
    </p>
  </ion-toolbar>
</ion-footer>
