<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <h2 class="logo-font ion-margin-bottom ion-margin-top">
    <span class="logo-light">Get</span><span> Augie</span>
  </h2>

  <div class="header-content ion-margin-bottom">
    <h3>Welcome back!</h3>
    <p>Achieve your financial goals with Augie</p>
  </div>

  <form [formGroup]="authForm" class="top-margin">
  
    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="username"
        type="text"
        placeholder="Email"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="authForm.get('username').touched && authForm.get('username').invalid"
        >Email is required</span
      >
    </div>

    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Password"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="authForm.get('password').touched && authForm.get('password').invalid"
        >Password is required</span
      >
     
    </div>
  </form>

  <ion-button class="main-btn" expand="block" style="margin-top: 4em" (click)="save()"
    >SIGN IN</ion-button
  >
  <ion-button
      expand="block"
      fill="clear"
      class="link-btn"
      color="medium"
      (click)="signinHelp()"
      >Forgot password?</ion-button
    >

  <div class="footer-content">
    <p>Dont Have an account?</p>
    <ion-button
      expand="block"
      fill="clear"
      class="clear-btn"
      routerLink="/register"
      >SIGN UP</ion-button
    >
  </div>
</ion-content>
