ion-content {
  --background: url("../../assets/login-bg.png") no-repeat center center / 120%
    110%;

  .header-content {
    margin-bottom: 8vh;

    h3 {
      font-size: 1.8em;
      font-weight: 800;
      color: #2a2b2c;
    }

    p {
      font-size: 0.9em;
    }
  }

  .logo-font {
    font-size: 1.8em;
    color: #00bfa6;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 0em;
    margin-bottom: 8vh;

    .logo-light {
      color: lightgrey;
      font-weight: 600;
    }
  }

  ion-input {
    font-size: 0.9erm;
    border-bottom: 1px solid #00bfa6;
    
    font-weight: 500;
    --placeholder-color: #696a6b;
    --padding-start: 5px;
  }

  .form-group {
    // border-bottom: 1px solid #00bfa6;
    margin-bottom: 2.8em;
  }

  ion-button {
    color: #fff;
    font-weight: 800;
    height: 3.2em;
    --box-shadow: none;
  }

  .footer-content {
    width: 100%;
    bottom: 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    margin: 0 auto;

    p {
      font-size: 0.9em;
      font-weight: 700;
      line-height: 0em;
      margin-top: 3rem;
    }

    .clear-btn {
      color: #00bfa6;
      --padding-top: 0px;
      line-height: 1em;
    }
  }
}

* {
  font-family: "Mulish", sans-serif;
}

.invalid {
  color: #FE6B5D;
  font-size: 0.8em;
}

.link-btn {
  font-weight: 300;
  font-size: 0.9rem;
}