ion-header {
  padding-top: 4vh;

  ion-toolbar {
    ion-title {
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.5px;
    }
  }
}

ion-content {
  p {
    opacity: 0.5;
  }
  ion-list {
    color: var(--ion-color-dark);
    margin-top: 6vh;

    ion-list-header {
      text-transform: capitalize;
      font-size: 1.8em;
      margin-bottom: 4vh;
    }

    ion-item {
      margin-bottom: 4vh;
      --border-color: var(--ion-color-light);

      ion-label {
        margin-left: 10px;

        h2 {
          font-weight: 800;
          font-size: 1.2em;
        }

        h3 {
          font-weight: 700;
          font-size: 1.1em;
          color: #00bfa6;
          padding-top: 10px;
        }

        p {
          opacity: 0.9;
          font-weight: 700;
        }
      }
      .biller {
        // padding: 10px 10px;

        //width: 20vw;

        // border: 1px solid red;

        h1 {
          font-size: 3em;
          font-weight: 800;
          padding: 10px 20px;
          background: var(--ion-color-light);
          margin: 5px;
          border-radius: 0.3em;
        }
      }
    }
  }

  ion-button {
      margin-top: 4vh;
  }
}
