<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>Add Bank Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/description"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()" color="primary">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  scrollY="false"
  class="ion-padding ion-text-center"
>
  <form [formGroup]="bdForm" class="top-margin">
    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="bankName"
        type="text"
        placeholder="Bank Name"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="bdForm.get('bankName').touched && bdForm.get('bankName').invalid"
        >Bank Name cannot be blank</span
      >
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': bdForm.get('accountNumber').touched && bdForm.get('accountNumber').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="accountNumber"
        type="text"
        placeholder="Account Number"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="bdForm.get('accountNumber').touched && bdForm.get('accountNumber').invalid"
        >Account Number cannot be blank</span
      >
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': bdForm.get('routingNumber').touched && bdForm.get('routingNumber').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="routingNumber"
        type="number"
        placeholder="Routing Number"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="bdForm.get('routingNumber').touched && bdForm.get('routingNumber').invalid"
        >Routing Number cannot be blank</span
      >
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': bdForm.get('accountType').touched && bdForm.get('accountType').invalid}"
    >
      <ion-select
        placeholder="Account Type"
        interface="action-sheet"
        class="form-control"
        formControlName="accountType"
      >
        <ion-select-option value="C">Checking</ion-select-option>
        <ion-select-option value="S">Saving</ion-select-option>
        
      </ion-select>
    </div>

    <span
      class="invalid"
      *ngIf="bdForm.get('accountType').touched && bdForm.get('accountType').invalid"
      >Select an Account Type</span
    >
  </form>
</ion-content>
