<div class="card-num">
  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  {{acctNum%10000}}

  <span style="float: right;">
    {{createDt}}
  </span>
</div>
