<div class="card-num">
  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  <span>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
    <ion-icon name="ellipse"></ion-icon>
  </span>

  1234

  <span style="float: right;">
    09/23
  </span>
</div>
