<div class="ion-text-center pop-container ion-padding">
  <div class="ion-text-left ion-padding">
    <ion-button (click)="dismiss()" fill="clear">Cancel</ion-button>
  </div>

  <div class="ion-padding header-div">
    <h2>Confirm</h2>
    <p>Please review the information</p>
  </div>

  <div class="form-info ion-padding">
    <div class="ion-text-left fld-info">
      <p class="fld-name">Bank Name</p>
      <p>{{ bankName }}</p>
    </div>
    <div class="ion-text-left fld-info">
      <p class="fld-name">Account Number</p>
      <p>{{ accountNumber }}</p>
    </div>
    <div class="ion-text-left fld-info">
      <p class="fld-name">Routing Number</p>
      <p>{{ routingNumber }}</p>
    </div>
    <div class="ion-text-left fld-info">
      <p class="fld-name">Account Type</p>
      <p>{{ acctType }}</p>
    </div>
  </div>

  <div class="footer-div ion-padding">
    <!--
 <ion-button (click)="confirmAddCard()" *ngIf="!hasCards" class="main-btn ion-margin-bottom" expand="block">Create your Augie Card</ion-button>
    <ion-button (click)="confirm()" *ngIf="!hasCards" class="clear-btn ion-margin-top" expand="block" fill="outline">CONFIRM & Exit</ion-button>
   
    -->
    <ion-button
      (click)="confirm()"
      class="main-btn ion-margin-bottom"
      expand="block"
      >Confirm</ion-button
    >
  </div>
</div>
