.pop-container {
  color: #1c1638;

  ion-icon {
    color: #9aacbc;
  }
  h2 {
    font-weight: 800;
    width: 100%;
    font-size: 2em;
  }

  .footer-div {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10%);
    margin: 0 auto;
    width: 100%;

    ion-button {
      height: 3em;
      font-size: 1em;
      color: #fff;
      font-weight: 700;
      --box-shadow: none;
      --border-radius: 10px;
    }
  }
}
