<ion-header>
  <ion-toolbar>
    <ion-title>pay-method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group allow-empty-selection value="anchovies">
     
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
            <ion-card-title>VISA</ion-card-title>
          </ion-card-header>

          <ion-card-content> My VISA Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>xxxx-xxxx-xxxx-5555</ion-card-subtitle>
            <ion-card-title>MASTER</ion-card-title>
          </ion-card-header>

          <ion-card-content> My VISA Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
            <ion-card-title>AIGGIE</ion-card-title>
          </ion-card-header>

          <ion-card-content> My VISA Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
            <ion-card-title>VISA</ion-card-title>
          </ion-card-header>

          <ion-card-content> My VISA Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm4"></ion-radio>
      </ion-item>

     
    </ion-radio-group>
  </ion-list>
</ion-content>
