<ion-header>
  <ion-toolbar>
    <ion-title>Payment Methods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group allow-empty-selection value="anchovies">
     
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>John Doe</ion-card-subtitle>
            <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
            <ion-card-title>AUGIE</ion-card-title>
          </ion-card-header>

          <ion-card-content> My Rent Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card class="blue">
          <ion-card-header>
            <ion-card-subtitle>John Doe</ion-card-subtitle>
            <ion-card-subtitle>xxxx-xxxx-xxxx-5555</ion-card-subtitle>
            <ion-card-title>AUGIE</ion-card-title>
          </ion-card-header>

          <ion-card-content> Utilities Payment Method </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card class="rosybrown">
          <ion-card-header>
            <ion-card-subtitle>John Doe</ion-card-subtitle>
            <ion-card-subtitle>xxxx-xxxx-xxxx-1234</ion-card-subtitle>
            <ion-card-title>AUGIE</ion-card-title>
          </ion-card-header>

          <ion-card-content> For Subscriptions </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm3"></ion-radio>
      </ion-item>

      

     
    </ion-radio-group>
  </ion-list>
</ion-content>
