ion-card {
    background-color: lightgreen;
    min-width: 80%;
}

.light-green {
    background-color: lightgreen;
}

.rosybrown {
    background-color: lightsalmon;
}

.blue {
    background-color: lightblue;
    
}

