<div class="mini-card ion-padding ion-text-left">
  <div class="logo-num">
    <div class="logo">
      <ion-text color="light">AUGIE</ion-text>
      <p class="ion-text-uppercase ion-text-right">DEBIT</p>
    </div>
    <p class="cnum">
      <span>
        <b>{{ cardNumber }}</b></span
      >
    </p>
  </div>

  <div class="exp">
    <p class="ion-text-uppercase">CVV <b>345</b></p>
    <p class="ion-text-uppercase">
      Exp <b>{{ expirationDate | date: "MM/yy" }}</b>
    </p>
  </div>
  
</div>
