.mini-card {
  // max-height: 170px;
  
  background: linear-gradient(270deg, #00bfa6, #00a2bf);
  // background: linear-gradient(90deg, #de315c, #b00b34);
  // background: linear-gradient(90deg, #271b85, #0c0542);
  // background: linear-gradient(90deg, #4130c2, #2c1da1);
  // opacity: 0.8;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 25px;
  color: #fff;

  ion-text {
    letter-spacing: 0.5px;
    font-weight: 800;
  }

  .exp {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .logo-num {
    margin: 0;
    padding: 0;
    .cnum {
      font-size: 1.2em;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .crd-num {
      display: flex;
      align-items: center;
      float: right;
      padding-right: 15px;

      ion-icon {
        padding-top: 5px;
        padding-right: 8px;
      }
    }
  }
}
