<ion-header class="ion-no-border ion-padding">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button text="" defaultHref="/welcome"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="head-container ion-text-center">
    
    <div class="profile-img">
      <img alt="" src="{{picUrl}}" />
      <div>
        <ion-button
          expand="block"
          fill="clear"
          class="dark-clr"
          (click)="takePicture()"
          >Upload</ion-button
        >
      </div>
    </div>
    
  </div>

  <form [formGroup]="profileForm">
    <div class="main-content ion-padding form-sec-top-margin">
      <ion-col>
        <h6 class="ion-text-uppercase">Personal Info</h6>
      </ion-col>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="firstName"
          placeholder="First Name"
          type="text"
          [ngClass]="{'is-invalid': profileForm.get('firstName').touched && profileForm.get('firstName').invalid}"
          [ngModel]="user.firstName"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('firstName').touched && profileForm.get('firstName').invalid"
          >Firstname is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="lastName"
          placeholder="Last Name"
          type="text"
          [ngClass]="{'is-invalid': profileForm.get('lastName').touched && profileForm.get('lastName').invalid}"
          [ngModel]="user.lastName"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('lastName').touched && profileForm.get('lastName').invalid"
          >Lastname is required</span
        >
      </div>

      <div class="form-group">
        <ion-select
          placeholder="Pronoun"
          interface="action-sheet"
          class="form-control"
          formControlName="gender"
          [ngModel]="user.gender"
        >
          <ion-select-option value="M">He/Him/His</ion-select-option>
          <ion-select-option value="F">She/Her</ion-select-option>
          <ion-select-option value="T">They/Them</ion-select-option>
        </ion-select>
        <span
          class="invalid"
          *ngIf="profileForm.get('gender').touched && profileForm.get('gender').invalid"
          >Please select a Pronoun</span
        >
      </div>

      <div class="form-group">
        <ion-datetime
          displayFormat="MM/DD/YY"
          placeholder="Date of Birth"
          class="form-control"
          formControlName="dob"
          [ngModel]="user.dob"
        ></ion-datetime>

        <span
          class="invalid"
          *ngIf="profileForm.get('dob').touched && profileForm.get('dob').invalid"
          >DOB is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="phone"
          minlength="10"
          maxlength="11"
          placeholder="Phone"
          type="tel"
          [ngClass]="{'is-invalid': profileForm.get('phone').touched && profileForm.get('phone').invalid}"
          [ngModel]="user.phone"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid"
          >Phone is required and must be 10 digits</span
        >
      </div>
    </div>

    <!-- Employment Info-->
    <div class="main-content ion-padding form-sec-top-margin">
      <ion-col>
        <h6 class="ion-text-uppercase">Employment</h6>
      </ion-col>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="occupation"
          placeholder="Occupation"
          type="text"
          [ngModel]="user.occupation"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('occupation').touched && profileForm.get('occupation').invalid"
          >Occupation is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="annualIncome"
          placeholder="Annual Income"
          type="number"
          [ngModel]="user.annualIncome"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('annualIncome').touched && profileForm.get('annualIncome').invalid"
          >Income is required</span
        >
      </div>
    </div>

    <!-- Address Info-->
    <div class="main-content ion-padding form-sec-top-margin">
      <ion-col>
        <h6 class="ion-text-uppercase">Address</h6>
      </ion-col>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="address"
          placeholder="Address"
          type="text"
          [ngModel]="user.address"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('address').touched && profileForm.get('address').invalid"
          >Address is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="city"
          placeholder="City"
          type="text"
          [ngModel]="user.city"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('city').touched && profileForm.get('city').invalid"
          >City is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="state"
          placeholder="State"
          type="text"
          [ngModel]="user.state"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('state').touched && profileForm.get('state').invalid"
          >State is required</span
        >
      </div>

      <div class="form-group">
        <ion-input
          class="form-control input-elem"
          formControlName="postalCode"
          placeholder="Postal code"
          [ngModel]="user.postalCode"
        ></ion-input>
        <span
          class="invalid"
          *ngIf="profileForm.get('postalCode').touched && profileForm.get('postalCode').invalid"
          >Postal code is required</span
        >
      </div>
    </div>
  </form>

  <div class="ion-padding">
    <ion-button (click)="save('/add-payment')" *ngIf="!hasBanks" expand="block" class="main-btn ion-margin-bottom">Next - Add Bills</ion-button>
    <ion-button (click)="save('/profile-view')" *ngIf="!hasBanks" expand="block" class="clear-btn ion-margin-top" fill="outline">Save & Exit</ion-button>
    <ion-button (click)="save('/profile-view')" *ngIf="hasBanks" expand="block" class="main-btn ion-margin-bottom">Save</ion-button>
  </div>
  
</ion-content>
