
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Refer a Friend</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    
    <img src="../../assets/referal.svg" alt="growth" />

    <div class="info-content">
      <p>
        For each Friend you refer, we will add $ to your account when they make their first payment
      </p>
    
    </div>

    <ion-button expand="block" routerLink="/referal-form">Send Referal Text</ion-button>
    
  </div>
  
  
</ion-content>

