<app-menu-header></app-menu-header>

<ion-content class="ion-text-center">
  <div class="content">
    
    <img src="../../assets/referal.svg" alt="growth" />

    <div class="info-content">
      <p>
        For each Friend you refer, we will add $ to your account when they make their first payment
      </p>
    
    </div>

    <ion-button expand="block" routerLink="/referal-form">Send Referal Text</ion-button>
    <ion-button expand="block" (click)="presentModal()">Ref</ion-button>
    
    
  </div>
  
  
</ion-content>

