<ion-content>
  <div class="head-container">
    <ion-menu-button *ngIf="profileComplete" menu="main-menu"><img alt="" src="../../../assets/menu.png"></ion-menu-button>
    <div *ngIf="!profileComplete">
     
      <ion-back-button
        text=""
        icon="chevron-back-outline"
        defaultHref="/description"
        *ngIf="!profileComplete"
      ></ion-back-button>
    </div>

    <div class="profile-img">
      <img alt="" src="../../../assets/sandeep.png" />
      <div class="ion-text-center">
        <p style="text-transform: capitalize;" class="ft-700">{{user.firstName}} {{user.lastName}}</p>
        <p class="small-font light-clr">he/him/his</p>
      </div>
    </div>
    <ion-icon
      size="medium"
      routerLink="/edit-profile"
      style="margin-right: 5px"
      name="pencil-outline"
    ></ion-icon>
  </div>
  <div class="info-content ion-padding">
    <h6 class="ion-text-uppercase">Personal Info</h6>

    <div class="info-grid">
      <div>
        <p class="info-lbl">Email</p>
        <p class="info-val">{{user.email}}</p>
      </div>
      <div>
        <p class="info-lbl">Phone</p>
        <p class="info-val">{{user.phone}}</p>
      </div>
      <div>
        <p class="info-lbl">Address</p>
        <p class="info-val">
          {{user.address}}, {{user.city}}, {{user.state}}, {{user.postalCode}}
        </p>
      </div>
      <div>
        <p class="info-lbl">Date of Birth</p>
        <p class="info-val">{{user.dob}}</p>
      </div>
    </div>
  </div>

  <div class="info-content ion-padding form-sec-top-margin">
    <h6 class="ion-text-uppercase">Employment</h6>

    <div class="info-grid">
      <div>
        <p class="info-lbl">Occupation</p>
        <p class="info-val">{{user.occupation}}</p>
      </div>
      <div>
        <p class="info-lbl">Annual Income</p>
        <p class="info-val">{{formattedIncome | currency}}</p>
      </div>
    </div>
  </div>

  <div class="info-content ion-padding form-sec-top-margin">
    <div class="banks-title ion-margin-bottom">
      <h6 class="ion-text-uppercase">Bank Accounts</h6>
      <ion-button routerLink="/funding-account" fill="clear"
        ><ion-icon name="add-circle"></ion-icon>ADD</ion-button
      >
    </div>

    <div *ngFor="let bank of banks" class="bac-grid">
      <ion-icon
        *ngIf="bank.verified"
        class="status-icn-ok"
        name="checkmark-circle-outline"
      ></ion-icon>
      <ion-icon
        *ngIf="!bank.verified"
        class="status-icn-warn"
        name="alert-circle-outline"
      ></ion-icon>
      <div class="bank-info">
        <div class="bank-title">
          <span>{{bank.bankName}}</span
          >
          <ion-icon color="danger" (click)="deleteBank(bank.id)" class="ion-text-end" name="trash-outline"></ion-icon>
        </div>
        <p class="light-clr">{{getAcctType(bank.accountType)}}</p>
        <app-number-mask
          [acctNum]="bank.accountNumber"
          [createDt]=""
        ></app-number-mask>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer style="margin-top: 4em" class="ion-no-border ion-text-center">
  <ion-button expand="block" fill="clear" class="dark-clr" (click)="logout()"
    >Log out</ion-button
  >

  <ion-button
    expand="block"
    fill="clear"
    class="danger-clr"
    (click)="deleteAccount()"
    >Delete this account</ion-button
  >
  <ion-button
    expand="block"
    fill="clear"
    class="dark-clr"
    (click)="testModal()"
    >Terms of service</ion-button
  >
</ion-footer>
