* {
  font-family: "Mulish", sans-serif;
}

.menu-header {
  padding-top: 3em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.avatar-ph {
  padding: 0.4em;
  // border: 1px solid blue;
  background-color: #698adc;
  border-radius: 7px;
  font-size: 1.5em;
  color: #ffffff;
}

.right-padding {
  padding-right: 8px;
}

.small-font {
  font-size: 0.9em;
  font-weight: 600;
}

.highlt {
  color: #00bfa6;
}

.small-btn-font {
  font-size: 0.9em;
  font-weight: 800;
  text-transform: capitalize;
  color: #00bfa6;
  --padding-top: 0;
}

.profile-header {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 2em;
  margin-bottom: 2em;

  img {
    height: 110px;
    width: 105px;
    border-radius: 0.7em;

    left: 35%;
  }
}

.head-container {
  padding-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  ion-icon {
    padding-top: 1vh;
    color: #9aacbc;
    font-size: 1.5em;
    --ionicon-stroke-width: 30px;
  }
}

.profile-img {
  padding-top: 1vh;
  padding-left: 3vw;
  img {
    height: 18vh;
    width: 32vw;
    border-radius: 0.8em;
  }
}

ion-button.dark-clr {
  --color: #1c1638;
  font-weight: 700;
  font-size: 1em;
}

ion-button.danger-clr {
  --color: #fe6b5d;
  font-weight: 700;
  font-size: 1em;
}

.main-content {
  background-color: #f6f7f9;

  h6 {
    font-weight: 700;
    letter-spacing: 1px;
  }
}

color-drk {
  color: #1c1638;
}

.input-elem {
  border-bottom: 1px solid #00bfa6;
  font-size: 0.85em;
  font-weight: 600;
  // --placeholder-color: darkgray;
  --color: #1c1638;
  margin-top: 1.5vh;
}

.input-elem:focus {
  border: 1px solid red;
  // border-bottom: 3px solid #00bfa6;
}

.invalid {
  color: #fe6b5d;
  font-size: 0.85em;
}

.form-sec-top-margin {
  margin-top: 2em;
}

.info-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 2em;
  // border: 1px solid red;
  font-size: 0.85em;
  font-weight: 700;

  .info-lbl {
    color: gray;
    line-height: 0em;
  }

  .info-val {
    color: #1c1638;
  }
}

.info-content {
  background-color: #f6f7f9;
  color: #1C1638;

  .bac-grid {
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 3vh;

    ion-icon.status-icn-ok {
      margin-top: 10px;
      margin-left: 10px;
      color: #00BFA6;
    }

    ion-icon.status-icn-warn {
      margin-top: 10px;
      margin-left: 10px;
      color: #FE6B5D;
    }

    .bank-info {
      border-radius: 10px;
      padding: 1.5em 1.5em 1.5em 1.5em;
      width: 100%;

      .bank-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        ion-icon {
          font-size: 20px;
        }

        span {
          font-weight: 700;
          letter-spacing: 1px;
        }
      }

      p {
        padding: 0;
        margin-bottom: 1em;
        margin-top: 0;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }

  .banks-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ion-button {
      font-size: 1em;
      font-weight: 800;

      ion-icon {
        padding-right: 5px;
      }
    }
  }

  h6 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
  }
}

.small-font {
  font-size: 0.85em;
}

.light-clr {
  color: #9aacbc;
}

.ft-700 {
  font-weight: 700;
}

ion-footer {
  ion-button {
    line-height: 0em;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: initial;
  }
}
