<ion-header>
  <ion-toolbar>
    <ion-title>user-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-content">
    <img src="../../../../assets/business2.jpg" />
    <ion-card-header>
      
      <ion-card-title >{{user.firstName}} {{user.lastName}}</ion-card-title>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Sep 26, 1979</p>
      <p>{{user.address}}, {{user.city}}, {{user.state}}</p>
      <p><ion-icon name="call-outline" slot="start"></ion-icon> {{user.phone}}</p>
      <ion-button routerLink="/profile" shape="round">Edit</ion-button>
     </ion-card-content>
  </ion-card>
  <app-tabs></app-tabs>
</ion-content>
