<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="banner">
    <h2>$39.99</h2>
    <p>Available Balance - 259.95</p>
   
  </div>
  <div class="card-dtl">
    <ion-item lines="none" class="ion-text-center">
      
      <ion-icon name="card-outline"></ion-icon>
      <p>xxxx-xxxx-xxxx-1234</p>
    </ion-item>
    
  </div>
  
  <ion-list lines="none" class="pay-dtls ion-margin-top ion-text-left ion-padding">
    <h6>Payment Details</h6>
    <ion-item>
      <ion-label>
      <h3>Payee</h3>
      <p>Netflix Inc.</p>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
      <h3>Start Date</h3>
      <p>05-01-2021</p>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
      <h3>Reccuring</h3>
      <p>Yes</p>
    </ion-label>
    </ion-item>

    <ion-button expand="block">Schedule Payment</ion-button>

  </ion-list>
 
</ion-content>
