ion-content {
  h2 {
    font-size: 1.8em;
    letter-spacing: 0.7px;
  }

  p {
    font-size: 0.9em;
    opacity: 0.6;
  }
  .main-div {
    margin-top: 6vh;

    img {
      width: 50vw;
    }

    form {
      margin-top: 30px;

      ion-input {
        font-size: 0.8em;
        border-bottom: 1px solid #00bfa6;

        font-weight: 500;
        --placeholder-color: #696a6b;
        --padding-start: 5px;
      }

      .form-group {
        // border-bottom: 1px solid #00bfa6;
        margin-bottom: 2.8em;
      }
    }
  }
}
