<ion-content>
  <div class="head-container">
    <ion-icon size="large" name="chevron-back-outline"></ion-icon>

    <div class="profile-img">
      <img alt="" src="../../../assets/sandeep.png"/>
      <div>
        <ion-button
        expand="block"
        fill="clear"
        class="dark-clr"
        routerLink="/description"
        >Upload</ion-button
      >
      </div>
    </div>
    <div>
      <ion-button
      expand="block"
      fill="clear"
      class="small-btn-font"
      size="small"
      routerLink="/description"
      >Save</ion-button
    >
    </div>
   
  </div>
  <form [formGroup]="profileForm">
    <div class="main-content form-sec-top-margin">
      <ion-grid class="form-grid">
        <ion-row>
          <ion-col>
            <h6 class="ion-text-uppercase">Personal Info</h6>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <div class="form-group">
              <ion-input
                class="form-control input-elem"
                formControlName="firstName"
                placeholder="First Name"
                type="text"
                [ngClass]="{'is-invalid': profileForm.get('firstName').touched && profileForm.get('firstName').invalid}"
              ></ion-input>
              <span
                class="invalid"
                *ngIf="profileForm.get('firstName').touched && profileForm.get('firstName').invalid"
                >Firstname is required</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <ion-input
              class="form-control input-elem"
              formControlName="lastName"
              placeholder="Last Name"
              type="text"
              [ngClass]="{'is-invalid': profileForm.get('lastName').touched && profileForm.get('lastName').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('lastName').touched && profileForm.get('lastName').invalid"
              >Lastname is required</span
            >
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <ion-input
              class="form-control input-elem"
              formControlName="occupation"
              placeholder="Pronoun"
              type="text"
              [ngClass]="{'is-invalid': profileForm.get('occupation').touched && profileForm.get('occupation').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('occupation').touched && profileForm.get('occupation').invalid"
              >Occupation is required</span
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select value="m" interface="action-sheet">
              <ion-select-option value="m">Male</ion-select-option>
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="n"
                >Do not wish to specify</ion-select-option
              >
            </ion-select>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

    <!-- Contact Info-->

    <div class="main-content form-sec-top-margin">
      <ion-grid class="form-grid">
        <ion-row>
          <ion-col>
            <h6 class="ion-text-uppercase">Contact Info</h6>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <div class="form-group">
              <ion-input
                class="form-control input-elem"
                formControlName="email"
                type="text"
                placeholder="Email"
                [ngClass]="{'is-invalid': profileForm.get('email').touched && profileForm.get('email').invalid}"
              ></ion-input>
              <span
                class="invalid"
                *ngIf="profileForm.get('email').touched && profileForm.get('email').invalid"
                >Email is required</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <ion-input
              class="form-control input-elem"
              formControlName="phone" 
              type="text"
              placeholder="Phone"
              [ngClass]="{'is-invalid': profileForm.get('lastName').touched && profileForm.get('phone').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid"
              >Phone is required</span
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              class="form-control"
              formControlName="occupation"
              type="text"
              [ngClass]="{'is-invalid': profileForm.get('occupation').touched && profileForm.get('occupation').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('occupation').touched && profileForm.get('occupation').invalid"
              >Occupation is required</span
            >
          </ion-col>
        </ion-row>
    
      </ion-grid>

   

      <!-- Contact Info-->

   
    </div>

    <!-- Contact Info-->

    <div class="main-content form-sec-top-margin">
      <ion-grid class="form-grid">
        <ion-row>
          <ion-col>
            <h6 class="ion-text-uppercase">Employment</h6>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <div class="form-group">
              <ion-input
                class="form-control input-elem"
                formControlName="email"
                type="text"
                placeholder="Occupation"
                [ngClass]="{'is-invalid': profileForm.get('email').touched && profileForm.get('email').invalid}"
              ></ion-input>
              <span
                class="invalid"
                *ngIf="profileForm.get('email').touched && profileForm.get('email').invalid"
                >Email is required</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-col>
            <ion-input
              class="form-control input-elem"
              formControlName="phone" 
              type="text"
              placeholder="Annual Income"
              [ngClass]="{'is-invalid': profileForm.get('lastName').touched && profileForm.get('phone').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid"
              >Phone is required</span
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              class="form-control"
              formControlName="occupation"
              type="text"
              [ngClass]="{'is-invalid': profileForm.get('occupation').touched && profileForm.get('occupation').invalid}"
            ></ion-input>
            <span
              class="invalid"
              *ngIf="profileForm.get('occupation').touched && profileForm.get('occupation').invalid"
              >Occupation is required</span
            >
          </ion-col>
        </ion-row>
    
      </ion-grid>

   

      <!-- Employment-->

   
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center small-font"></p>
  </ion-toolbar>
</ion-footer>
