<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Reset Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-content">

    <ion-list class="basic-form" lines="none">
     
      <p class="auth-title message-color">Password Reset Success!</p>
      <p class="auth-message">Your password has been reset. Please continue to Sign in</p>
      
      <ion-button expand="block" shape="round" routerLink="/signin">Sign in</ion-button>

      <div class="secure" style="display: block; text-align: center;">
        <ion-icon name="lock-closed"></ion-icon>
      </div>

    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center small-font">
      <a href="#" routerLink="/signin">sign in</a>
    </p>
  </ion-toolbar>
</ion-footer>
