<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="modalController.dismiss()" color="medium" fill="clear"
    ><ion-icon name="chevron-back-outline" size="large"></ion-icon
  ></ion-button>
  <div class="ion-text-center main-div">
    <div class="ion-margin-bottom">
      <!--<img alt="" src="../../../assets/forgot_password.svg" />-->
      <h2>Reset Password</h2>
      <p>Reset your password below</p>
    </div>

    <form [formGroup]="authForm" class="top-margin">
      <div class="form-group ion-text-left">
        <ion-input
          class="form-control"
          formControlName="password"
          type="password"
          placeholder="Password"
        >
        </ion-input>
        <span
          class="invalid"
          *ngIf="
            authForm.get('password').touched && authForm.get('password').invalid
          "
          >Password is required</span
        >
      </div>

      <div class="form-group ion-text-left">
        <ion-input
          class="form-control"
          formControlName="password2"
          type="password"
          placeholder="Retype Password"
        >
        </ion-input>
        <span
          class="invalid"
          *ngIf="
            authForm.get('password2').touched &&
            authForm.get('password2').invalid
          "
          >Retype Password is required</span
        >
      </div>
    </form>

    <ion-button
      class="main-btn"
      expand="block"
      style="margin-top: 4em"
      (click)="reset()"
      >RESET</ion-button
    >
  </div>
</ion-content>
