<app-menu-header></app-menu-header>

<ion-content [fullscreen]="true" class="ion-margin-top">
  <!-- <div *ngIf="cardInfo" class="ion-padding">
    <app-min-card
      [cardNumber]="cardInfo.cardNumber"
      [expirationDate]="cardInfo.expirationDate"
    ></app-min-card>
  </div>-->

  <!--<div class="ion-padding seg-ctr">
    <ion-segment mode="ios" value="s" [(ngModel)]="payseg">
      <ion-segment-button value="p">
        <ion-label>Payments</ion-label>
      </ion-segment-button>
      <ion-segment-button value="s">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>-->

  <div [ngSwitch]="payseg">
    <app-transactions *ngSwitchCase="'p'"></app-transactions>
    <app-sched-pays *ngSwitchCase="'s'"></app-sched-pays>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-payment">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
