@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&family=Montserrat:wght@600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@400;500;700;900&display=swap");

ion-header {
  background: #ffffff;
  margin-bottom: 20px;

  ion-list {
    background: var(--ion-color-primary);
    // border-radius: 0 0 20px 20px;
    padding-bottom: 10vh;
    padding-top: 3vh;
    padding-left: 20px;

    ion-item {
      h2 {
        font-size: 1.6em;
        letter-spacing: 0.5px;
        // font-weight: bold;
        opacity: 0.8;
      }

      ion-back-button {
        opacity: 0.8;

        --opacity: 0.8;
        --icon-font-size: 1.3em;
      }
    }
  }

  .popover {
    padding-right: 20px;
    padding-left: 20px;

    width: 100%;
    background: var(--ion-color-light);

    .custom-search {
      margin-top: -30px;

      background: var(--ion-color-tblight);
      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      // margin-left: 20px;
      .searchbar-input-container {
        input {
          background: var(--ion-color-light);
          --background: var(--ion-color-light);
        }
      }
    }
  }
}

ion-content {
  padding-top: 20px;
  --background: var(--ion-color-light);

  .show-card {
    p {
      color: var(--ion-color-dark);
      opacity: 0.5;
    }
  }
}
