ion-menu {
  ion-content {
    --background: #fafafa;
    color: #45455e;

    h3 {
        font-weight: 700;
        text-transform: uppercase;
        color: #00bfa6;
    }

    ion-list {
      ion-item {
        --background: #fafafa;
        font-size: 0.9em;
        --color: #2a2b2c;
        --color-hover: red;
        --highlight-color-focused: blue;

        ion-icon:hover {
            --color: red;
        }
        
      }

      ion-item:hover {
        --color-hover: red;
      }
    }
  }
}
