
.menu-header-bg {
    height: 100px;
    text-align: center;
    top: 0;
    padding-top: 40px;
    margin-bottom: 20px;
    
    ion-label {
        font-size: 30px;
        color: #fff;
    }
   
}

ion-menu {
    --background: #42acc9;

    ion-content {
        --background: #42acc9;
    }

    ion-list {
        --background: #42acc9;

        ion-item {
            --background: #42acc9;
            
            color: #fff;
        }
    }
}