ion-menu {
  ion-content {
    //--background: linear;
    --background: linear-gradient(90deg, #00bfa6, #19d4bb) ;
    color: #9aacbc;

    .img-div {
      margin-bottom: 15px;
      border-bottom: 0.5px solid #92d6ce;
      padding-bottom: 15px;
      img {
        width: 80px;
        height: auto;
        border-radius: 50%;
        background: #fff;
        padding: 5px;
      }
    }

    h3 {
      font-weight: 800;
      text-transform: capitalize;
      letter-spacing: 3px;
      color: #fff;
    }

    ion-item {
      --background: transparent;
      font-size: 0.9em;
      --color: #fff;
      --background-hover: gray;
      padding-top: 5px;
      text-transform: capitalize;
      font-weight: 600;
      padding-bottom: 5px;

      ion-icon:hover {
        color: blue;
      }

      div:hover {
        color: blue;
        background-color: yellow;
      }
    }
  }
}
