.phone-num {
  // border: 1px solid blue;
  display: grid;
  grid-template-columns: 25vw auto;
  grid-column-gap: 10px;

  div {
    border-bottom: 1px solid rgba(0, 191, 166, 0.8);
    display: flex;

    ion-input {
      --placeholder-color: var(--ion-color-dark);
      --padding-start: 15px;
      --placeholder-opacity: 0.5;
    }
  }

  .ph {
    font-size: 0.9em;
  }

  .cc {
    ion-input {
      font-size: 1.5em;
      font-weight: 600;
      border: none;
    }

    p {
      font-size: 1.8em;
      padding: 0;
      margin: 0;
      padding: 3px 0px 0px 5px;
    }
  }
}
