<ion-content scrollY="false">
  <div class="content ion-text-center">
    <h2 class="logo-font ion-margin-bottom">
      <span class="logo-light">Get</span><span> Augie</span>
    </h2>

    <div class="title-block ion-margin-top">
      <p class="dark-color title-big">Your trusted</p>
      <p class="dark-color title-medium">companion in</p>
      <p class="dark-color title-small">building credit</p>
    </div>

    <div class="img-div ion-margin-top">
      <img class="full-ht" alt="" src="../../assets/augie-new.png" />
      <img class="balloon" alt="" src="../../assets/balloon/balloon.png" />
    </div>

    <ion-button expand="block" class="primary-btn ion-margin-bottom" routerLink="/description"
      >SIGN UP</ion-button
    >
    <ion-button
      expand="block"
      fill="clear"
      class="clear-btn"
      routerLink="/description"
      >LOG IN</ion-button
    >
  </div>
</ion-content>
