.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 10px #888888;
    
    img {
        width: 200px;
        height: 200px;
        display: block;
        top: -100px;
    }

    ion-button {
        width: 100%;
        letter-spacing: 1px;
        height: 38px;
        --border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        --background: #6C63FF;
        position: fixed;
        bottom: 5%;
        max-width: 300px;
        opacity: 0.8;
    }

    .arch{
        height: 50px;
        background: cornflowerblue;
    }
}

ion-content {
    
    .arch {
        height: 50px;
        --background: #6C63FF;
    }
    div {
        margin-top: 50px;
        text-align: center;
    }
}

.welcome-title {
    color: #6C63FF;
    font-weight: bold;
    letter-spacing: 1px;
}

.dark-color {
    color: gray;
}

body {
    margin: 0;
    padding: 0;
}