ion-content {
  --background: url("../../assets/main-bg-big.png") no-repeat center center /
    120% 120%;

  .content {
    width: 100%;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-block {
      color: #1c1638;
      max-height: 450px;
      width: 225px;

      p {
        text-align: justify;
        line-height: 0em;
      }

      p:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }

    .logo-font {
      font-size: 2em;
      color: #00bfa6;
      font-weight: 900;
      text-transform: capitalize;
      line-height: 0em;

      .logo-light {
        color: lightgrey;
        font-weight: 600;
      }
    }
  }

  .title-big {
    font-size: 2.3em;
    font-weight: 800;
    // letter-spacing: 1px;
  }

  .title-medium {
    font-size: 2.1em;
    font-weight: 800;
    // letter-spacing: 1px;
  }

  .title-small {
    font-size: 2em;
    font-weight: 800;
    // letter-spacing: 1px;
  }

  .btn-div {
    width: 100%;
  }
  .img-div {
    min-height: 10vh;
    width: 100%;
    margin-bottom: 5vh;

    .full-ht {
      height: 25vh;
      width: 45vw;
      float: left;
      margin-top: 8vh;
    }

    .balloon {
      height: 9vh;
      position: fixed;
      left: 47vw;
    }
  }
}
