<div class="ion-text-center pop-container">
  <div class="ion-text-end ion-padding">
    <ion-icon (click)="dismiss()" size="large" name="close-outline"></ion-icon>
  </div>

  <div class="ion-padding">
    <h2>Share with Friends!</h2>
    <p>
      For each Friend you refer, we will add $ to your account when they make their first payment
    </p>
  </div>
  

  <div class="img-container ion-text-center">
    
  </div>

  

  <div class="footer-div ion-padding">
    <ion-button expand="block">SEND REFERAL TEXT</ion-button>
  </div>
    
  
</div>
