<ion-content>
  <div class="ion-text-center pop-container">
    <div class="ion-text-end ion-padding">
      <ion-icon
        (click)="dismiss()"
        size="large"
        name="close-outline"
      ></ion-icon>
    </div>

    <div class="ion-padding">
      <h2>{{ title }}</h2>
      <h6>
        {{ message }}
      </h6>
    </div>

    <div class="ion-margin-top main-icn">
      <img alt="" src="../../../assets/confirm.svg">
    </div>
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" class="main-btn" (click)="confirm()">{{
    buttonText
  }}</ion-button>
  <ion-button expand="block" color="mbtnlight ion-margin-top" class="main-btn" (click)="dismiss()">CANCEL</ion-button>
</ion-footer>
