<app-menu-header></app-menu-header>
<ion-content class="ion-padding ion-text-center">
  <div class="card-container ion-text-center">
    <ion-slides>
      <ion-slide *ngFor="let crd of cards">
        <app-pmt-card
          [name]="crd.name"
          [cardNumber]="crd.cardNumber"
          [cardBalance]="crd.cardBalance"
          [expirationDate]="crd.expirationDate"
        ></app-pmt-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="ref-container">
    <div class="img-div"></div>
    <div class="ion-text-left info">
      <h6>Refer Friends</h6>
      <p>
        For each Friend you refer, we'll add $ to your account when they sign up
      </p>
      <ion-button
        size="default"
        fill="clear"
        class="ion-no-padding ion-text-right"
        (click)="presentModal()"
        >SEND REFERRAL TEXT <ion-icon name="chevron-forward-outline"></ion-icon
      ></ion-button>
    </div>
  </div>

  <ion-button
    class="primary-btn1"
    (click)="presentPaymentModal()"
    expand="block"
  >
    <ion-icon style="margin-right: 5px" name="add-circle"></ion-icon>
    ADD PAYMENT</ion-button
  >

  <div class="txs">
    <h6>TRANSACTIONS</h6>
    <!--<div class="search-container">
      <ion-input type="text" placeholder="Search"></ion-input>
      <ion-icon name="search-outline"></ion-icon>
    </div>-->
    <ion-button color="light" shape=round routerLink="/payments">View All</ion-button>
  </div>

  <ion-list lines="none">
    <ion-list-header class="ion-margin-bottom"> Today </ion-list-header>

    <ion-item class="ion-no-border">
      <ion-avatar slot="start">
        <img src="https://assets.brandfetch.io/e7a1ac57ae64452.png" />
      </ion-avatar>
      <ion-label>
        <h6 class="font-dark">HULU</h6>

        <p class="tme">2h ago</p>
      </ion-label>
      <ion-label class="ion-text-right">
        <p class="amt">- $ 13.99</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://assets.brandfetch.io/41d05924a6fd481.png" />
      </ion-avatar>
      <ion-label>
        <h6 class="font-dark">NETFLIX</h6>

        <p class="tme">2h ago</p>
      </ion-label>
      <ion-label class="ion-text-right">
        <p class="amt">- $ 13.99</p>
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-border">
      <ion-avatar slot="start">
        <img src="https://assets.brandfetch.io/e7a1ac57ae64452.png" />
      </ion-avatar>
      <ion-label>
        <h6 class="font-dark">HULU</h6>

        <p class="tme">2h ago</p>
      </ion-label>
      <ion-label class="ion-text-right">
        <p class="amt">- $ 13.99</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://assets.brandfetch.io/41d05924a6fd481.png" />
      </ion-avatar>
      <ion-label>
        <h6 class="font-dark">NETFLIX</h6>

        <p class="tme">2h ago</p>
      </ion-label>
      <ion-label class="ion-text-right">
        <p class="amt">- $ 13.99</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
