<ion-header>
  <ion-toolbar>
    <ion-title>Funding Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group allow-empty-selection value="anchovies">
      <ion-item>
        <ion-card class="blue">
          <ion-card-header>
            <ion-card-subtitle>xxxxxxxxxxxx5555</ion-card-subtitle>
            <ion-card-title>TD Bank</ion-card-title>
          </ion-card-header>

          <ion-card-content> TD Bank - Checking </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-card class="blue">
          <ion-card-header>
            <ion-card-subtitle>xxxxxxxxxxxx5555</ion-card-subtitle>
            <ion-card-title>Bank of America</ion-card-title>
          </ion-card-header>

          <ion-card-content> Bank of America - Checking </ion-card-content>
        </ion-card>
        <ion-radio slot="end" color="primary" value="pm2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
