@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

ion-header {
  padding-top: 3vh;

  ion-toolbar {
    ion-title {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 800;
    }

    ion-button {
      font-size: 0.9em;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}

ion-content {
  h2 {
    font-weight: 700;
    margin: 0 0 4vh 0;
  }
  .form-group {
    margin-bottom: 2.5rem;
  }

  .lbl-p {
    color: var(--ion-color-dark);
    font-size: 0.9em;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }

  .invalid {
    font-size: 0.8em;
    color: #fe6b5d;
  }

  ion-input,
  ion-select {
    font-size: 0.8em;
    border-bottom: 0.5px solid #00bfa6;
    --padding-start: 10px;
    font-weight: 500;
    --placeholder-color: var(--ion-color-dark);
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.5;
  }

  ion-select::part(icon) {
    color: #00bfa6;
    opacity: 1;
  }

  ion-datetime {
    --padding-start: 0px;
    font-size: 0.8em;
    font-weight: 500;
    --placeholder-color: var(--ion-color-dark);
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.5;
  }

  .dt-pckr {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #00bfa6;
    margin-bottom: 0;

    span {
      float: left;
    }

    ion-icon {
      color: #00bfa6;
      padding-right: 10px;
      font-size: 1.3em;
      --ionicon-stroke-width: 50px;
    }

    ion-datetime {
      font-size: 0.8em;
      --placeholder-color: var(--ion-color-dark);
      --placeholder-font-weight: 600;
      --placeholder-opacity: 0.5;
    }
  }
}

* {
  font-family: "Mulish", sans-serif;
}

.btn-div {
  margin-top: 4em;
}
