<ion-header>
  <ion-toolbar>
    <ion-title>Payment History</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <div class="query-content">
    <ion-label>Sort by</ion-label>
    <ion-select value="date">
      <ion-select-option value="date">Date</ion-select-option>
      <ion-select-option value="payee">Payee</ion-select-option>
      <ion-select-option value="pm">Payment method</ion-select-option>
    </ion-select>
  </div>
  
  <ion-list>
    <app-pay-record *ngFor="let message of getRecords()" [record]="message"></app-pay-record>
    <!--<app-message *ngFor="let message of getMessages()" [message]="message"></app-message> -->
  </ion-list>
</ion-content>