<ion-header>
  <ion-toolbar>
    <ion-title>Payment History</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  
  <ion-list>
    <app-pay-record *ngFor="let message of getRecords()" [record]="message"></app-pay-record>
    <!--<app-message *ngFor="let message of getMessages()" [message]="message"></app-message> -->
  </ion-list>
</ion-content>