<ion-header>
  <ion-toolbar>
    <ion-title>How AUGIE works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    
    <img src="../../assets/steps.svg" alt="growth" />

    <div class="steps">
      <ul>
        <li>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Complete registration
        </li>
        <li>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Attach a payment method
        </li>
        <li>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Use the AUGGIE virtual debit card to pay your bills
        </li>
        <li>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Pay your bills using your new virtual card and start earning the credit you deserve
        </li>
      </ul>
     
    </div>

    <ion-button expand="block" routerLink="/register">Let's Go</ion-button>
    
  </div>
  
  
</ion-content>

