<app-menu-header></app-menu-header>

<ion-content class="ion-text-center ion-padding">
  <h2>Hi, {{name}}! Let's get started!</h2>

  <div class="content1">
    <div class="img-container">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="info-container">
      <h6>1. Complete your profile</h6>
      <p>provide a few details and personalize your experience</p>

      <ion-button
        size="default"
        fill="clear"
        class="ion-no-padding ion-text-right"
        routerLink="/edit-profile"
        >Profile <ion-icon name="chevron-forward-outline"></ion-icon
      ></ion-button>
    </div>
  </div>

  <div class="content2 ion-margin-top">
    <div class="img-container">
      <img alt="" src="../../assets/augie-new.png" />
    </div>
    
    <div class="info-container">
      <h6>2. Connect your bank account</h6>
      <p>Start building credit today by linking your bank account</p>

      <ion-button
        size="default"
        fill="clear"
        class="ion-no-padding ion-text-right"
        routerLink="/funding-account"
        >Add <ion-icon name="chevron-forward-outline"></ion-icon
      ></ion-button>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border ion-text-center ion-padding">
  <p class="msg-content">
    Use your free and secure Augie virtual payment card for all your monthly bills and start earning the credit you deserve.
  </p>
</ion-footer>
