/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&family=Montserrat:wght@600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@400;500;700;900&display=swap");

.ion-color-btnlight {
  --ion-color-base: var(--ion-color-btnlight);
  --ion-color-base-rgb: var(--ion-color-btnlight-rgb);
  --ion-color-contrast: var(--ion-color-btnlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-btnlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-btnlight-shade);
  --ion-color-tint: var(--ion-color-btnlight-tint);
}

.ion-color-mbtnlight {
  --ion-color-base: var(--ion-color-mbtnlight);
  --ion-color-base-rgb: var(--ion-color-mbtnlight-rgb);
  --ion-color-contrast: var(--ion-color-mbtnlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mbtnlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-mbtnlight-shade);
  --ion-color-tint: var(--ion-color-mbtnlight-tint);
}

* {
  font-family: "Mulish", sans-serif;
}

ion-button.primary-btn {
  font-size: 0.9em;
  font-weight: 800;
  --color: #fafafa;
  --box-shadow: none;
  height: 6.5vh;
  width: 90%;
  text-transform: uppercase;
}

ion-button.clear-btn {
  font-size: 0.9em;
  font-weight: 800;
  width: 100%;
  text-transform: uppercase;
  min-width: 300px;
}

.font-dark {
  color: #1c1638;
}

.font-light {
  color: #9aacbc;
}

.modal-ctr {
  --width: 90%;
  --height: 90%;
  text-align: center;
  --border-radius: 10px;
}

.confirm-modal {
  --width: 90%;
  --height: 90%;
  text-align: center;
  --border-radius: 10px;
}

.full-modal {
  // background-color: #FFFFFF;
  // --background: #FAFAFA;
  // --background: #00BFA6;
  // --background: linear-gradient(90deg, #00bfa6, #1fdec4);
  ion-header {
    color: #1c1638;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 0.5em;

    h2 {
      font-weight: 800;
      font-size: 1.8em;
    }

    p {
      font-weight: 500;
      font-size: 1.05rem;
      color: #fff;
    }
  }
}

ion-button.main-btn {
  color: #fff;
  font-weight: 800;
  font-size: 1em;
  height: 50px;
  --box-shadow: none;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.modal-ctr {
  --width: 90%;
  --height: 90%;
  text-align: center;
  --border-radius: 10px;
}

ion-button.link-btn {
  font-weight: 0.8em;
  font-weight: 300;
}

.popover-menu {
  --min-width: 350px;
}

.ion-searchbar {
  .searchbar-input-container {
    input {
      --padding-top: 18px;
      --padding-bottom: 16px;
      font-size: 5px;

      .searchbar-search-icon {
        top: 15px !important;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.custom-search {
  border-radius: 15px;
  --box-shadow: none;

  .searchbar-input-container {
    height: 55px;

    border-radius: 15px;

    input {
      --placeholder-font-weight: 600;
      --placeholder-opacity: 0.2;
      
    }
  }
}

.custom-action-sheet {
  text-align: left;
}