<ion-header class="ion-no-border">
  <ion-toolbar no-border> 
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="light" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-item lines="none" class="ion-text-left">
    <ion-label>
      <h2>Profile</h2>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="banner"></div>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <img src="../../../../assets/business2.jpg" />
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>John Doe</ion-card-title>
      <ion-card-subtitle>Jan 18, 1979</ion-card-subtitle>

      <ion-card-subtitle class="ion-margin-top"
        >100 Central Street, New York, NY</ion-card-subtitle
      >

      <ion-card-subtitle>
        +1 (654) 665-3234
      </ion-card-subtitle>
     
      <ion-item lines="none">
        <ion-icon
          color="dark"
          slot="start"
          size="small"
          name="mail"
        ></ion-icon>

        <ion-label>
         
          <p>pmharkins@gmail.com</p>
        </ion-label>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <h6>Settings</h6>
    <ion-list lines="none" class="settings-list">
      <ion-item lines="none" detail detail-icon="pencil-outline">
        <ion-icon
          
          slot="start"
          name="settings-outline"
        ></ion-icon>

        <ion-label>
          <h3>Account Settings</h3>
          <p>Password and Contact info</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail detail-icon="pencil-outline">
        <ion-icon slot="start" name="card-outline"></ion-icon>

        <ion-label>
          <h3>Payment Methods</h3>
          <p>Cards for Billling</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail detail-icon="pencil-outline">
        <ion-icon
          
          slot="start"
          name="cash-outline"
        ></ion-icon>
        

        <ion-label>
          <h3>Funding Accounts</h3>
          <p>Bank Accounts</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
