@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

ion-footer {
  padding-bottom: 30px;
}

.invalid {
  font-size: 12px;
  color: coral;
}

.small-font {
  font-size: 14px;
}

ion-footer {
  padding-bottom: 30px;
}

.light-button {
  --color: #6c63ff;
  --background: #f2f5f3;
}

.is-invalid {
  border-bottom: 1px solid coral;
}

.invalid {
  font-size: 12px;
  color: coral;
}

.form-group {
    // border-bottom: 0.5px solid #d6d5d2;
    display: flex;
    width: 100%;

   ion-icon {
       padding: 10px;
       color: #352d59;
   }

   ion-input {
       --placeholder-color: #352d59;
       --color: #181621;
       font-size: 13px; 
   }
  
}

span {
    padding-left: 20px;
}

.top-margin {
    margin-top: 50px;
}

ion-content {

  justify-content: center;
  align-items: center;
  ion-item {
    width: 100%;
    --border-color: #bab6cc;
  }

  ion-button {
    height: 45px;
    width: 100%;
    margin-top: 50px;
    --box-shadow: none;
    --background: linear-gradient(to right , #6c63ff, #8686fc);
  }

  form {
    width: 100%;
  }

  h3, p {
    text-align: center;
    
  }

  h3 {
    color: #2c2c38;
  }
}

.txt-center {
  text-align: center;
}

.app-subtitle {
  font-size: 13px;
  color: #808096;
}

.form-title {
  margin-bottom: 65px;
}