<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="regForm" class="top-margin">
    
    <div class="form-title ion-margin-bottom">
      <h3>Sign up</h3>
      <p class="app-subtitle">Sign up now and start building your Credit History</p>
    </div>

    <ion-item>
      <div
        class="form-group"
        [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}"
      >
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input
          class="form-control"
          formControlName="email"
          type="text"
          placeholder="Email"
        >
        </ion-input>
      </div>
    </ion-item>

    <span
      class="invalid"
      *ngIf="regForm.get('email').touched && regForm.get('email').invalid"
      >Enter a valid email</span
    >

    <ion-item class="ion-margin-top">
      <div
        class="form-group"
        [ngClass]="{'invalid': regForm.get('password').touched && regForm.get('password').invalid}"
      >
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input
          class="form-control"
          formControlName="password"
          type="password"
          placeholder="Password"
        >
        </ion-input>
      </div>
    </ion-item>

    <span
      class="invalid"
      *ngIf="regForm.get('password').touched && regForm.get('password').invalid"
      >Enter a valid password</span
    >
  </form>

  <ion-button
    expand="block"
    class="ion-margin-top"
    shape="round"
    routerLink="/profile"
    >Sign up</ion-button
  >
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center small-font">
      <span>Have an account?</span><a href="#" routerLink="/signin">sign in</a>
    </p>
  </ion-toolbar>
</ion-footer>
