@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.small-font {
    font-size: 14px;
   
}

ion-header {
    ion-toolbar {
        margin-top: 60px;
    }
}

ion-footer {
    padding-bottom: 30px;
}

ion-icon {
    color: lightgrey;
    padding-right: 10px;
}
