<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <h2 class="logo-font ion-margin-bottom ion-margin-top">
    <span class="logo-light">Get</span><span> Augie</span>
  </h2>

  <div class="header-content ion-margin-bottom">
    <h3>Welcome!</h3>
    <p>Achieve your financial goals with Augie</p>
  </div>

  <form [formGroup]="regForm" class="top-margin">
    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="firstName"
        type="text"
        placeholder="First Name"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="regForm.get('firstName').touched && regForm.get('firstName').invalid"
        >First name is required</span
      >
    </div>

    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="lastName"
        type="text"
        placeholder="Last Name"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="regForm.get('lastName').touched && regForm.get('lastName').invalid"
        >Last name is required</span
      >
    </div>

    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="username"
        type="text"
        placeholder="Email"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="regForm.get('username').touched && regForm.get('username').invalid"
        >Username is required</span
      >
    </div>

    <div class="form-group ion-text-left">
      <ion-input
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Password"
      >
      </ion-input>
      <span
        class="invalid"
        *ngIf="regForm.get('password').touched && regForm.get('password').invalid"
        >Password mus be atleast 8 characters, with an Uppercase letter, a Lowercase letter, a
        number and a special character</span
      >
    </div>
  </form>

  <ion-button expand="block" class="main-btn" style="margin-top: 4em" (click)="save()"
    >SIGN UP</ion-button
  >

  <div class="footer-content">
    <p>Have an account?</p>
    <ion-button
      expand="block"
      fill="clear"
      class="clear-btn"
      routerLink="/signin"
      >LOG IN</ion-button
    >
  </div>
</ion-content>
