<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <h2 class="logo-font ion-margin-bottom ion-margin-top">
    <span class="logo-light">Get</span><span> Augie</span>
  </h2>

  <div class="header-content ion-margin-bottom">
    <h3>Welcome!</h3>
    <p>Achieve your financial goals with Augie</p>
  </div>

  <form [formGroup]="regForm" class="top-margin">
    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="email"
        type="text"
        placeholder="First Name"
      >
      </ion-input>
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="email"
        type="text"
        placeholder="Last Name"
      >
      </ion-input>
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="email"
        type="text"
        placeholder="Email"
      >
      </ion-input>
    </div>

    <div
      class="form-group ion-text-left"
      [ngClass]="{'invalid': regForm.get('email').touched && regForm.get('email').invalid}"
    >
      <ion-input
        class="form-control"
        formControlName="email"
        type="text"
        placeholder="Password"
      >
      </ion-input>
    </div>

    <span
      class="invalid"
      *ngIf="regForm.get('password').touched && regForm.get('password').invalid"
      >Enter a valid password</span
    >
  </form>

  <ion-button expand="block" style="margin-top: 3em;" routerLink="/description"
  >SIGN UP</ion-button
>

<div class="footer-content">
  <p>Have an account?</p>
  <ion-button
      expand="block"
      fill="clear"
      class="clear-btn"
      
      (click)="presentPopover()"
      >LOG IN</ion-button
    >
</div>

</ion-content>
